<!-- FOOTER -->

<footer>
    <div class="f-info">      <!-- final div -->
        <div class="nav-info-socials">  <!-- Social media Icons div -->
            <a href="https://www.facebook.com/profile.php?id=100087273762430"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/tech_boy_shravan?igsh=bGdvcXBnOTVkazc5"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://in.linkedin.com/in/shravan-tiwari-9415b7273"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;WonderLust Private Limited</div>    <!-- middle  div -->
        <div class="f-info-links">      <!-- terms and conditions  div -->
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>