<!-- for showing Error in good farmet -->
<% layout("layouts/boilerplate.ejs") %>

<div class="row col-6 offset-2 mt-5">
     <div class="alert alert-danger" role="alert"> <!-- bootstrap div for showing alert and we simply print err message   -->
        <h4><%= message %></h4>
    </div>
</div>